.saveSettingsButton
{
    texture: "textures/greenButton.png";
    font: "fonts/happy_monkey/HappyMonkey-Regular.ttf";
    text: "save";
    font-size: 50;
    color: black;
}

.saveSettingsButton:hover  {  color: "#212020";  }
