.progressLevel
{
    name: "progressLevel";
    font: "fonts/happy_monkey/HappyMonkey-Regular.ttf";
    groove-texture: "ui/groove.png";
    filling-texture: "ui/filling.png";
    text-format: value-over-max;
    text-position: before;
    color: white;
}
