.greenButton
{
    texture: "textures/greenButton.png";
    font: "fonts/happy_monkey/HappyMonkey-Regular.ttf";
    color: white;
    outline-color: "#32a814";
    outline-thickness: 2;
    font-size: 35;
}

.homeButton  {  texture: "textures/homeButton.png";  }
.restartButton {  texture: "textures/restartButton.png";  }
.exitButton {  texture: "textures/exitButton.png";  }

.toggleButtonOn
{
    type: "check";
    texture: "textures/toggleButtonOn.png";
    font: "fonts/happy_monkey/HappyMonkey-Regular.ttf";
    font-size: 35;
    color: white;
    outline-thickness: 1;
    outline-color: black;
    offset: 20;
}

.toggleButtonOff
{
    type: "check";
    texture: "textures/toggleButtonOff.png";
    font: "fonts/happy_monkey/HappyMonkey-Regular.ttf";
    font-size: 35;
    color: white;
    outline-thickness: 0.5;
    outline-color: black;
    offset: 20;
}

.toggleButtonOff:hover
{
    texture: "textures/toggleButtonOff.png";
    outline-color: #46b4a0;
}

.toggleButtonOn:hover
{
    texture: "textures/toggleButtonOn.png";
    outline-color: #46b4a0;
}

.textField
{
    name: "textField";
    background-texture: "textures/textField.png";
    caret-texture: "textures/caret.png";
    font: "fonts/happy_monkey/HappyMonkey-Regular.ttf";
    font-size: 35;
    color: white;
}
