.playButton
{
    texture: "textures/playButton.png";
    position: 683 400;
}

.optionsButton
{
    texture: "textures/optionsButton.png";
    position: 100 700;
}

.quitButton
{
    texture: "textures/quitButton.png";
    position: 1266 700;
}
